<a href="https://colab.research.google.com/github/asheta66/Machine-Learning-2022/blob/main/AWSBootcamp_PreAssessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AWS Bootcamp: Machine Learning (ML) Python Assessment
---

**DIRECTIONS:**
1. Please make a copy of this Colab and answer the questions in the coding cells below.
2. When you are finished, share the Colab link with the email: train.pd@the-cs.org.

##### **Question #1:** Print the statement: `The year is 2022.`

In [1]:
# add solution here
print("The year is 2022.")

The year is 2022.

##### **Question #2:** Print the sum of 76 and 92.

In [2]:
# add solution here
print(76+92)

168

##### **Question #3:** Create a variable called `name` and assign it to your name. Then print a statement that reads: `Welcome back, [YOUR NAME]`.

In [3]:
# add solution here
name = "Alaa"
print("Welcome back, " + name + ".")

Welcome back, Alaa.

##### **Question #4:** Write a function named `happy_bday` that has one parameter, `name`. If, for example, the argument for `name` is `"Hans"`, it prints
```
Happy Birthday Hans!
```
Call the function and wish a friend happy birthday!

In [8]:
def happy_bday(name):
      print("Happy birthday," + name + ".")

# Example usage
happy_bday("Hans")

Happy birthday,Hans.

##### **Question #5:** Write a function named `how_old` that has two parameters -- `name` and `age`. If the argument for `name` is `"Ana"` and the argument for age is `13`, the function should print: `Ana is 13 years old. `

Call the function with your name and age.

In [10]:
# add solution here
def how_old(name, age):
    print(name + " is " + str(age) + " years old.")

# Example usage
how_old("Ana", 13)

Ana is 13 years old.

##### **Question #6:** Create a list called `countries` with the countries: Mexico, France, and Australia.

In [11]:
# add solution here
countries = ["Mexico", "France", "Australia"]

##### **Question #7:** Use indexing to print Alexus' name.

In [12]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]

In [13]:
# add solution here
print(family[3])

Alexus

##### **Question #8:** Replace 'monkeys' with 'penguins' in the list below.

In [14]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]

In [15]:
# add solution here
fav_animals[4] = "penguins"

print(fav_animals)

['giraffes', 'walruses', 'pandas', 'peacocks', 'penguins']

---
Â© 2023 The Coding School, All rights reserved