<a href="https://colab.research.google.com/github/asheta66/Machine-Learning-2022/blob/main/Python/Lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tutorial on Python Programming

In [ ]:
# Simple Operation
print("Hello, world!")

Hello, world!

In [ ]:
# Use the input command
name = input('Enter your name: ')
print(f"Hello, {name}")

Enter your name: Alaa
Hello, Alaa

In [ ]:
age = int(input('Enter your age: '))
print(f"My age is, {age}")

Enter your age: 55
My age is, 55

In [ ]:
# Simple calculation
# This calculation shows that the numbers need to be
# converted to float before we make calculations

number1  = input('Enter first number: ')
number2 = input('Enter second number: ')
print(f"Sum, {number1+number2}")

number1  = float(input('Enter first number: '))
number2 = float(input('Enter second number: '))
print(f"Sum, {number1+number2}")

Enter first number: 10
Enter second number: 20
Sum, 1020
Enter first number: 10
Enter second number: 20
Sum, 30.0

In [ ]:
def greet(name):
    """
    This function greets to
    the person passed in as
    a parameter
    """
    print("Hello, " + name + ". Good morning!")
    
greet("Alaa")

Hello, Alaa. Good morning!

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def add_number(n1,n2):
    sum = n1 + n2;
    return sum;

num1 = 30
num2 = 20
sum = add_number(num1,num2)
print("The sum of two number is",sum)

The sum of two number is 50

In [1]:
#Python - Slicing Strings
b = "Hello, World!"
print(b[2:5])

llo

In [4]:
# Create a list
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(thislist[2:])
print(thislist[1:-1])

['apple', 'banana', 'cherry', 'apple', 'cherry']
['cherry', 'apple', 'cherry']
['banana', 'cherry', 'apple']

In [5]:
# Change Item Value
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [8]:
#Using the append() method to append an item:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

# Add element on specific location in the list
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

# Remove an item from the list
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry']
['apple', 'cherry']

In [17]:
# Loop Lists

mylist = range(5)
print(mylist)

print("----------")
for i in mylist:
  print(i)

print("----------")
def printlist(mylist):
  for i in mylist:
    print(i)


printlist(mylist)

range(0, 5)
----------
0
1
2
3
4
----------
0
1
2
3
4

In [ ]:
#List Methods
#Python has a set of built-in methods that you can use on lists.
#========================
#Method	Description
#========================
#append()	Adds an element at the end of the list
#clear()	Removes all the elements from the list
#copy()	Returns a copy of the list
#count()	Returns the number of elements with the specified value
#extend()	Add the elements of a list (or any iterable), to the end of the current list
#index()	Returns the index of the first element with the specified value
#insert()	Adds an element at the specified position
#pop()	Removes the element at the specified position
#remove()	Removes the item with the specified value
#reverse()	Reverses the order of the list
#sort()	Sorts the list

In [19]:
thislist = ["apple", "banana", "cherry"]

for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [20]:
# List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [31]:
# sort a list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

# sort decending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

# copy list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

# copy list
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']

In [37]:
# while loop

x=range(5)

print(f"Total elements in the list are {len(x)}")
print("All elements")
i=0
while i < len(x):
  print(i)
  i = i + 1

Total elements in the list are 5
All elements
0
1
2
3
4

In [45]:
x = int(input("Enter a score"))

if x > 90:
  print("Excellent A")
elif 80 < x < 90:
  print("Very Good B+")
else:
  print("Good B")

Enter a score88
Very Good B+

In [47]:
# for loop

fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [50]:
# define function
def printname(first, last):
  print ("Hello "+ first+" "+last)

first = input("First Name: ")
last  = input("Last Name: ")

printname(first,last)

First Name: Alaa
Last Name: Sheta
Hello Alaa Sheta

In [53]:
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expression.
# Add 7 to argument a, and return the result:

x = lambda a : a + 7
print(x(5))

x = lambda a, b : a * b
print(x(5, 6))

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

12
30
13

In [56]:
# array definition
cars = ["Ford", "Volvo", "BMW"]
print(cars)

for i in cars:
  print(i)

print(f"The length of the array is {len(cars)}")

['Ford', 'Volvo', 'BMW']
Ford
Volvo
BMW
The length of the array is 3

In [58]:
# Python Classes/Objects
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(f"{p1.name} is {p1.age} years old")

John is 36 years old

In [63]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print(f"Hello my name is {self.name} I am {self.age} years old")

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John I am 36 years old

In [66]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

print("=================")
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry
=================
b
a
n
a
n
a

In [71]:
# global variables
x = 300

def myfunc():
  print("x from the function " + str(x))

myfunc()

print("x from the global variable " + str(x))

x from the function 300
x from the global variable 300

In [73]:
# date function
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

x = datetime.datetime(2020, 5, 17)
print(x)

2022
Sunday
2020-05-17 00:00:00